h2 {
  text-align: left;
  color: darkorange;
  font-size: 1.2em;
  margin-bottom: 0;
  margin-left: 1em;
}

.zone-groupe {
  display: block;
  overflow: hidden;
  max-height: 25em;
  overflow-y: scroll;

    p {
      background: orange;
      color: white;
      text-align: left;
      padding: 5px;
      border-radius: 10px;
      margin: 15px;
      display: block;
      width: 100%;
      font-size: 0.8em;
      max-width: 12em;

      .title{
        display: block;
      }

      &.me {
        background: darkorange;
        margin-left: calc(100% - 13.5em);
      }
    }

}
