app-chat {
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  border-radius: 15px;
  border: solid 1px darkorange;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;



  form {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 20em;

    .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: left;
      width: calc(100% - 6em - 15px);
      padding-right: 15px;
    }

    button {
      width: 6em;
      span {
        color: white;
      }
    }

    mat-error {
      color: red!important;
    }
  }
}






